@use './utils/reset';

.header {
	&__img {
		display: block;
		margin: 5px auto;
		width: 150px;
		clip-path: inset(0 0 0 0 round 0 55% 0 55%);
	}
	&__about {
		margin-top: 2em;
		&-name {
			margin-bottom: 1em;
			font-size: 3rem;
		}
		&-text {
			font-size: 1.6rem;
		}
	}
}
