* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown: #9d2b2b;
  --fontSize1: 1rem;
  --fontSize: 1.5rem;
}

body {
  font-family: "Lora", arial, sans-serif;
  font-size: 10px;
}

header {
  width: 100%;
  height: 20vh;
  background-image: url(/img/code-683x383.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header div.bg {
  width: 100%;
  height: 20vh;
  background-color: rgba(0, 63, 114, 0.3);
}

h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: -40px;
  width: 100%;
  padding: 3px 0;
  font-size: var(--fontSize1);
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(225, 151, 204, 0.9);
}

div.main {
  width: 100%;
  background: linear-gradient(white, rgb(247, 208, 236));
}

.main img {
  width: 80px;
  height: auto;
  margin: 10px 10px 10px 15px;
  background-repeat: no-repeat;
  object-fit: cover;
  filter: drop-shadow(8px 8px 10px gray);
}

.main .contact {
  display: inline-block;
}

.main .contact .name {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.main .contact h3 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 7px;
  font-size: var(--fontSize1);
  letter-spacing: 0.5px;
}

.main .contact ul li {
  margin-top: 2px;
  list-style: none;
  text-decoration: none;
}

.main .contact ul li a {
  margin-left: 10px;
  font-size: .9rem;
  color: black;
  text-decoration: none;
}

.main .contact ul li a:hover {
  color: var(--brown);
}

div.flex {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 0 15px;
}

p {
  line-height: 150%;
  font-size: .8rem;
}

div.flex .about {
  text-align: justify;
}

div.underline {
  width: 80%;
  height: 1px;
  margin: 10px 0;
  background-color: var(--brown);
}

div.underline:nth-of-type(1),
div.underline:last-child {
  width: 100%;
}

div.flex .courses .html {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(/img/html_css.png);
  margin-top: -50px;
  margin-left: 240px;
  background-size: cover;
  background-repeat: no-repeat;
}

div.flex .level div {
  display: inline-block;
  width: 15px;
  height: 10px;
  margin-right: 3px;
  border: 1px solid var(--brown);
}

div.flex .skills .level p {
  display: inline-block;
  margin-right: 60px;
}

div.flex .skills .level:nth-of-type(2) p {
  margin-right: 73px;
}

div.flex .skills .level div:nth-of-type(1),
div.flex .skills .level div:nth-of-type(2) {
  background-color: var(--brown);
}

div.flex .project h3 a {
  margin-left: 30px;
  padding: 3px;
  border: 1px solid var(--brown);
  border-radius: 20%;
  color: black;
  text-decoration: none;
  box-shadow: 0 10px 30px -5px #000, 0 0 0 2px rgb(247, 208, 236), 0 0 0 3px var(--brown);
}

h4 {
  line-height: 250%;
  font-size: .9rem;
  letter-spacing: .3px;
}

div.flex .language .level h4 {
  display: inline-block;
  margin-right: 37px;
}

div.flex .language .level:nth-of-type(1) h4 {
  margin-right: 45px;
}

div.flex .language .level:nth-of-type(2) h4 {
  margin-right: 59px;
}

div.flex .language .level div {
  background-color: var(--brown);
}

div.flex .language .eng div {
  background-color: transparent;
}

div.flex .language .eng div:nth-of-type(1) {
  background-color: var(--brown);
}

div.flex .language .eng div:nth-of-type(2) {
  box-shadow: inset 7px 0 0 var(--brown);
}

section.rodo {
  margin: 0 5px;
  text-align: justify;
}

section.rodo p {
  font-size: .6rem;
}

footer {
  padding: 5px;
  border-top: 2px solid var(--brown);
  background-color: rgb(247, 208, 236);
}

footer p {
  display: inline-block;
  font-size: .7rem;
}

footer i {
  float: right;
  margin-right: 15px;
  font-size: var(--fontSize1);
  color: black;
}

@media (orientation: portrait) and (min-width: 412px) {
  header {
    height: 15vh;
  }

  header div.bg {
    height: 15vh;
  }

  .main img {
    width: 100px;
  }

  .main .contact {
    margin-left: 15px;
  }

  .main .contact .name {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .main .contact h3 {
    margin-bottom: 10px;
  }

  .main .contact ul li {
    margin-top: 5px;
  }

  .main .contact ul li i {
    font-size: .8rem;
  }

  .main .contact ul li a {
    font-size: var(--fontSize1);
  }

  div.flex {
    margin-top: 25px;
  }

  p {
    font-size: .9rem;
  }

  div.flex .courses .html {
    margin-top: -45px;
    margin-left: 280px;
  }

  div.flex .skills .level p {
    margin-right: 80px;
  }

  div.flex .skills .level:nth-of-type(2) p {
    margin-right: 96px;
  }

  h4 {
    font-size: var(--fontSize1);
    letter-spacing: .5px;
  }

  div.flex .language .level h4 {
    margin-right: 60px;
  }

  div.flex .language .level:nth-of-type(1) h4 {
    margin-right: 68px;
  }

  div.flex .language .level:nth-of-type(2) h4 {
    margin-right: 85px;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  header {
    height: 20vh;
  }

  header div.bg {
    height: 20vh;
  }

  h1 {
    padding: 5px 0;
    font-size: var(--fontSize);
    letter-spacing: 2px;
  }

  .main img {
    width: 170px;
    margin: 20px;
  }

  .main .contact {
    margin-left: 30px;
  }

  .main .contact .name {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  .main .contact h3 {
    margin-bottom: 15px;
  }

  .main .contact ul li i {
    font-size: 1.2rem;
  }

  .main .contact ul li a {
    margin-left: 20px;
    font-size: var(--fontSize);
  }

  div.flex {
    margin: 35px 25px 0 25px;
  }

  p {
    font-size: 1.3rem;
  }

  div.flex .courses .html {
    width: 70px;
    height: 70px;
    margin-top: -75px;
    margin-left: 480px;
  }

  div.flex .level div {
    width: 20px;
    height: 15px;
    margin-right: 5px;
  }

  div.flex .skills .level p {
    margin-right: 120px;
  }

  div.flex .skills .level:nth-of-type(2) p {
    margin-right: 142px;
  }

  div.flex .project h3 {
    line-height: 200%;
  }

  h4 {
    font-size: var(--fontSize);
  }

  div.flex .language .level h4 {
    margin-right: 100px;
  }

  div.flex .language .level:nth-of-type(1) h4 {
    margin-right: 112px;
  }

  div.flex .language .level:nth-of-type(2) h4 {
    margin-right: 137px;
  }

  section.rodo p {
    padding: 0 5px;
    font-size: var(--fontSize1);
  }

  footer {
    padding: 10px;
  }

  footer p {
    font-size: var(--fontSize1);
  }

  footer i {
    font-size: var(--fontSize);
  }
}

@media (orientation: landscape) {
  header {
    height: 40vh;
  }

  header div.bg {
    height: 40vh;
  }

  .main img {
    width: 100px;
  }

  .main .contact {
    margin-left: 20px;
  }

  .main .contact .name {
    margin-bottom: 10px;
    font-size: var(--fontSize);
  }

  h3 {
    font-size: 1.2rem;
  }

  .main .contact ul li i {
    font-size: .9rem;
  }

  .main .contact ul li a {
    font-size: 1.1rem;
  }

  div.flex {
    margin-top: 35px;
  }

  p {
    font-size: var(--fontSize1);
  }

  div.flex .courses .html {
    margin-left: 320px;
  }

  div.flex .skills .level:nth-of-type(2) p {
    margin-right: 77px;
  }

  div.flex .language .level h4 {
    margin-right: 60px;
  }

  div.flex .language .level:nth-of-type(1) h4 {
    margin-right: 69px;
  }

  div.flex .language .level:nth-of-type(2) h4 {
    margin-right: 87px;
  }

  h4 {
    font-size: var(--fontSize1);
  }

  section.rodo p {
    font-size: 0.7rem;
  }

  footer {
    padding-left: 15px;
  }
}

@media (orientation: landscape) and (min-width: 720px) {

  h1 {
    font-size: var(--fontSize);
    letter-spacing: 2px;
  }

  div.main {
    padding-top: 20px;
  }

  .main img {
    width: 140px;
    margin-left: 25px;
  }

  .main .contact .name {
    margin-bottom: 20px;
    font-size: 1.7rem;
    letter-spacing: .5px;
  }

  h3 {
    font-size: 1.4rem;
  }

  .main .contact ul li i {
    margin-top: 8px;
    font-size: 1rem;
  }

  .main .contact ul li a {
    font-size: 1.2rem;
  }

  div.flex {
    margin: 40px 25px 0 25px;
  }

  p {
    font-size: 1.1rem;
    letter-spacing: 0.4px;
  }

  div.flex .courses .html {
    margin-left: 360px;
  }

  div.flex .skills .level p {
    margin-right: 80px;
  }

  div.flex .skills .level:nth-of-type(2) p {
    margin-right: 99px;
  }

  div.flex .project h3 {
    line-height: 200%;
  }

  div.flex .project h3 a {
    padding: 5px;
    border-radius: 15%;
  }

  div.underline {
    width: 70%;
  }

  div.flex .language .level h4 {
    margin-right: 80px;
  }

  div.flex .language .level:nth-of-type(1) h4 {
    margin-right: 88px;
  }

  div.flex .language .level:nth-of-type(2) h4 {
    margin-right: 108px;
  }

  h4 {
    font-size: 1.2rem;
  }

  section.rodo p {
    padding: 0 10px;
  }

  footer p {
    font-size: .8rem;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  html {
    background:
      radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .15) 30%, rgba(255, 255, 255, .3) 32%, rgba(255, 255, 255, 0) 33%) 0 0,
      radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .1) 11%, rgba(255, 255, 255, .3) 13%, rgba(255, 255, 255, 0) 14%) 0 0,
      radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 17%, rgba(255, 255, 255, .43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px,
      radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 11%, rgba(255, 255, 255, .4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px,
      radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 11%, rgba(255, 255, 255, .4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px,
      radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .1) 11%, rgba(255, 255, 255, .2) 13%, rgba(255, 255, 255, 0) 14%) 0 0,
      linear-gradient(45deg, rgb(196, 188, 188) 0%, rgb(73, 62, 62) 20%, rgb(170, 156, 156) 30%, rgb(55, 54, 54) 40%, rgb(227, 196, 196) 50%, rgb(67, 51, 51) 60%, rgb(233, 230, 230) 70%, rgb(93, 79, 79) 80%, rgb(220, 182, 182) 90%, rgb(54, 32, 32) 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  }

  body {
    max-width: 1024px;
    margin: 0 auto;
  }

  header {
    height: 30vh;
    background-attachment: fixed;
    background-image: url(img/code-1280x719.jpg);
  }

  header div.bg {
    height: 30vh;
  }

  h1 {
    font-size: 1.7rem;
    letter-spacing: 3px;
  }

  .main img {
    width: 190px;
  }

  .main .contact {
    margin-left: 30px;
  }

  .main .contact .name {
    font-size: 2.5rem;
  }

  h3 {
    font-size: var(--fontSize);
  }

  .main .contact ul li {
    overflow: hidden;
  }

  .main .contact ul li i {
    margin-top: 15px;
    font-size: 1.2rem;
  }

  .main .contact ul li a {
    position: relative;
    font-size: 1.3rem;
  }

  .main .contact ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background-color: var(--brown);
    transition: .7s cubic-bezier(0, 1.8, 1, 1);
  }

  .main .contact ul li a:hover:before {
    right: 0;
  }

  div.flex {
    margin: 50px 30px 0 30px;
  }

  p {
    font-size: 1.2rem;
  }

  div.flex .courses .html {
    width: 50px;
    height: 50px;
    margin-top: -60px;
    margin-left: 400px;
  }

  div.flex .level div {
    width: 25px;
    height: 15px;
    margin-right: 7px;
  }

  div.flex .skills .level p {
    margin-right: 130px;
  }

  div.flex .skills .level:nth-of-type(2) p {
    margin-right: 150px;
  }

  div.flex .project h3 {
    line-height: 300%;
  }

  div.flex .project h3 a {
    padding: 10px;
    border-radius: 20%;
    transform: .3s;
  }

  div.flex .project h3 a:hover {
    padding: 7px;
    border: 2px solid var(--brown);
    box-shadow: 0 10px 30px -5px #000, 0 0 0 3px rgb(247, 208, 236), 0 0 0 5px var(--brown);
    border-radius: 45%;
  }

  div.flex .project h3 a:hover i {
    font-size: 30px;
  }

  h4 {
    font-size: 1.3rem;
  }

  div.flex .language .level h4 {
    margin-right: 80px;
  }

  div.flex .language .level:nth-of-type(1) h4 {
    margin-right: 89px;
  }

  div.flex .language .level:nth-of-type(2) h4 {
    margin-right: 109px;
  }

  footer {
    padding: 15px;
    box-shadow: 0 10px 30px -5px #000;
  }

  footer p {
    font-size: var(--fontSize1);
  }

  footer i {
    font-size: 1.3rem;
  }
}